ORACLE_IMAGE=gvenzl/oracle-free:23-slim-faststart
ORACLE_PASSWORD=change-this-oracle-system-password
ORACLE_APP_USER=poc
ORACLE_APP_PASSWORD=poc_password
ORACLE_PORT=21521
ORACLE_SEATUNNEL_PORT=18085
