:80 {
    encode zstd gzip

    route {
        handle_path /prod-api/* {
            reverse_proxy backend:8080
        }

        handle_path /dev-api/* {
            reverse_proxy backend:8080
        }

        try_files {path} /index.html
        file_server
    }
}
